:root {
  --color-base-primary-cyan: hsl(193, 38%, 86%); /* Light Cyan */
  --color-base-primary-green: hsl(150, 100%, 66%); /* Neon Green */
  --color-neutral-blue: hsl(217, 19%, 38%); /* Grayish Blue */
  --color-neutral-dark-gray-blue: hsl(217, 19%, 24%); /* Dark Grayish Blue */
  --color-neutral-dark-blue: hsl(218, 23%, 16%); /* Very Dark Blue */
  --font-size-quote: 1.75rem; /* 28px */
  --space: 1.5rem;
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  color: var(--color-base-primary-green);
  letter-spacing: 0.3rem;
}

p.quote {
  color: var(--color-base-primary-cyan);
  font-size: 1.3rem;
}

h4,
p.quote {
  margin-bottom: var(--space);
  text-align: center;
  font-weight: bold;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-dark-blue);
}

/* --- MAIN --- */

.container {
  background-color: var(--color-neutral-dark-gray-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 55vw;
  margin-top: auto;
  border-radius: 1rem;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img.pattern-divider {
  margin-bottom: 2.5rem;
}

main img.dice-icon {
  background-color: var(--color-base-primary-green);
  padding: 24px;
  border-radius: 130px;
}
/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
