:root {
  --color-base-primary-cyan: hsl(193, 38%, 86%); /* Light Cyan */
  --color-base-primary-green: hsl(150, 100%, 66%); /* Neon Green */
  --color-neutral-blue: hsl(217, 19%, 38%); /* Grayish Blue */
  --color-neutral-dark-gray-blue: hsl(217, 19%, 24%); /* Dark Grayish Blue */
  --color-neutral-dark-blue: hsl(218, 23%, 16%); /* Very Dark Blue */
  --font-size-quote: 1.75rem; /* 28px */
  --space: 1.5rem;
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h5 {
  color: var(--color-base-primary-green);
  letter-spacing: 0.3rem;
}

p.quote {
  color: var(--color-base-primary-cyan);
  font-size: 1.3rem;
}

h5,
p.quote {
  margin-bottom: var(--space);
  text-align: center;
  font-weight: bold;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-dark-blue);
}

/* --- MAIN --- */

.container {
  background-color: var(--color-neutral-dark-gray-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  margin-top: auto;
  border-radius: 1rem;
  padding: 2rem 2rem 0; /* top + (left and right) + bottom*/
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main img.pattern-divider {
  margin-bottom: 0.9rem;
}

.test {
  border-radius: 100%;
  background-color: var(--color-base-primary-green);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15%;
}

main img.dice-icon {
  width: 1.2rem; /* Adjust based on your design preference */
  height: 1.2rem;
}

/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-primary-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  color: var(--color-base-primary-green);
  text-decoration: none;
}

.fa-github {
  color: var(--color-base-primary-green);
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
  }
}
